HOST localhost
  StrictHostKeyChecking no

HOST 0.0.0.0
  StrictHostKeyChecking no

HOST hadoop-*
  StrictHostKeyChecking no
  StrictHostKeyChecking=/dev/null


HOST spark-*
  StrictHostKeyChecking no
  StrictHostKeyChecking=/dev/null

